{% extends 'homepage/0base.html' %}

{% block title %}Tentang LinkBiz - Solusi Pendanaan UMKM{% endblock %}

{% block content %}
  <div class="about">
    {% load static %}
    <section class="tentangkami1">
        <div class="tentangkami2">
            <h1>Solusi Pendanaan UMKM <br>Nomor 1 di Indonesia</h1>
            <p>Ciptakan jutaan pengusaha di Indonesia dengan membantu pendanaan UMKM dan berikan peran penuhmu sebagai investor</p>
        </div>
        <img src="{% static 'assets/tentangkami1.png' %}" alt="Pertumbuhan Bisnis" class="tentangkami1-image">
    </section>

    <section class="tentangkami3">
        <h2>Misi LinkBiz</h2>
        <ul>
            <li>1. Menjembatani antara UMKM yang membutuhkan dana dengan investor yang ingin berpartisipasi dalam pertumbuhan bisnis di Indonesia.</li>
            <li>2. Memberikan akses kepada UMKM terhadap laporan keuangan yang transparan dan terperinci, sehingga investor dapat membuat keputusan yang lebih baik.</li>
            <li>3. Membangun komunitas yang kuat antara UMKM, investor, dan para ahli, untuk saling berbagi pengetahuan dan pengalaman.</li>
            <li>4. Memfasilitasi konsultasi dan solusi bisnis yang relevan untuk membantu UMKM meningkatkan kinerja mereka.</li>
            <li>5. Menciptakan ekosistem yang mendukung pertumbuhan UMKM secara berkelanjutan, sehingga berkontribusi pada perekonomian Indonesia.</li>
        </ul>
    </section>

    <section class="tentangkami4">
        <div class="tentangkami5">
            <div class="tentangkami6">
                <h1>Temukan bisnis potensial dan dapatkan aset meningkat lebih dari 10% setiap tahun</h1>
                <p>Temukan peluang bisnis potensial dan raih kesempatan untuk meningkatkan aset Anda lebih dari 10% setiap tahun. Buat kesepakatan di sini dan kamu bisa memantau bisnis yang kamu danai setiap hari.</p>
            </div>
            <img src="{% static 'assets/tentangkami2.png' %}" alt="Ilustrasi Toko" class="tentangkami7">
        </div>
    </section>
    
    <section class="cara-kerja">
        <h2>Cara Kerja</h2>
    </section>
    
    <section class="tentangkami8">
        <img src="{% static 'assets/cara kerjaa.jpg' %}" alt="Proses Pendanaan" class="tentangkami8-image">
    </section>
    <br>
  </div>
{% endblock %}