{% extends 'homepage/0base.html' %}

{% block title %}Syarat dan Ketentuan Pendanaan UMKM{% endblock %}

{% block content %}
<section class="syarat-content">
    <p><strong>PERHATIAN</strong>: Layanan Pendanaan UMKM berbasis teknologi ini merupakan kesepakatan perdata antara Investor (Pemberi Modal) dan Pelaku Usaha (Penerima Modal), sehingga segala risiko yang muncul dari kesepakatan tersebut menjadi tanggung jawab masing-masing pihak.</p>
    <p>
        <ol>
            <li>Risiko kerugian usaha atau gagal bayar menjadi tanggung jawab sepenuhnya oleh Investor. Tidak ada lembaga atau otoritas negara yang bertanggung jawab atas risiko usaha atau kerugian investasi ini.</li>
            <li>Penyelenggara dengan persetujuan dari masing-masing Pengguna (Investor dan/atau Pelaku Usaha) berhak mengakses, mengelola, dan menggunakan data pribadi Pengguna untuk keperluan layanan. Penyelenggara akan memberi informasi tujuan, batasan, dan mekanisme pemanfaatan data tersebut sebelum mendapatkan persetujuan.</li>
            <li>Investor yang belum memiliki pengalaman dalam pendanaan UMKM disarankan untuk mempelajari terlebih dahulu risiko dan proses investasi.</li>
            <li>Pelaku Usaha harus memastikan penggunaan dana dengan bijak dan mengelola keuangan usaha secara bertanggung jawab.</li>
            <li>Setiap tindakan yang tidak jujur atau kecurangan akan tercatat secara digital dan dapat terpantau oleh publik.</li>
            <li>Pengguna wajib membaca dan memahami informasi ini sebelum memutuskan untuk menjadi Investor atau Pelaku Usaha.</li>
            <li>Pemerintah, dalam hal ini tidak bertanggung jawab atas pelanggaran yang dilakukan oleh Pengguna, baik Investor maupun Pelaku Usaha, terhadap ketentuan peraturan perundang-undangan atau perjanjian yang dibuat.</li>
            <li>Semua transaksi pendanaan dan pengelolaan dana harus dilakukan melalui rekening escrow dan virtual account yang sesuai dengan ketentuan hukum yang berlaku. Pelanggaran terhadap ketentuan ini dapat dianggap sebagai pelanggaran hukum yang menyebabkan kerugian bagi pihak terkait.</li>
        </ol>
    </p>
    <p><strong>HATI-HATI, TRANSAKSI INI BERISIKO TINGGI. ANDA DAPAT MENGALAMI KERUGIAN. PERTIMBANGKAN SECARA BIJAK DAN PASTIKAN MEMILIKI KEMAMPUAN SEBELUM MENGIKUTI LAYANAN INI.</strong></p>
</section>
{% endblock %}